@import '../../../../../scss';

:root {
    --color-1: #0093e9;
    --color-2: #fdbb2d;
    --color-3: #ff0000;
    --color-4: #ff9100;
    --color-5: #ff0;
}

// Permet de styliser les gradients avec les couleurs de votre choix
svg {
    #vert-gradient-01 {
        --color-stop-1: var(--color-2);
        --color-stop-2: var(--color-3);
    }

    #vert-gradient-02 {
        --color-stop-1: var(--color-3);
        --color-stop-2: var(--color-2);
    }
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 100px;
    @include center(center);
    flex-direction: column;
    // font-size: 2rem;

    background: var(--color-2);
    background: linear-gradient(0deg, var(--color-2) 0%, var(--color-5) 100%);

    nav.primary {
        width: calc(90px * 4);
        @include center(space-between);

        a {
            text-decoration: none;

            &,
            &:visited {
                color: #f2f2f2;
                font-size: 1.5rem;
            }
        }
    }
}

.container {
    width: 100%;
    min-height: calc(100vh - 100px - 80px - 30px);
    flex: 100;
    background: transparent;
    @include center(center);
    flex-direction: column;
    background: url(../images/fond.svg);
    background-size: cover;

    .container_header {
        width: 100%;
        // Valeur à adapter en fonction du svg
        height: 120px;
        overflow: hidden;

        .svgHeader {
            fill: url(#vert-gradient-01);
        }
    }

    .container_content {
        background-color: #fff5;
        max-width: 1200px;
        width: 95%;
        border-radius: 20px;
        height: 1000px;
        margin: 3rem 0;
        padding: 2rem;
        display: flex;
        gap: 2rem;

        .aside {
            background-color: grey;
            min-width: 200px;
        }
        main {
            flex: 1;
            display: flex;
            flex-direction: column;
            background-color: #fff;

            .section {
                &.section1 {
                }
                &.section2 {
                }
            }
        }
    }

    .container_footer {
        // height + margin-top = 200px (la hauteur du svg)
        width: 100%;
        height: 125px;
        overflow: hidden;

        svg {
            margin-top: -75px;
            fill: url(#vert-gradient-02);
        }
    }
}

.footer {
    width: 100%;
    overflow: hidden;
    @include center(center);
    flex-direction: column;
    background-color: var(--color-2);
    background-image: linear-gradient(180deg, var(--color-2) 0%, var(--color-4) 40%);

    .footer_content {
        width: 100%;
        height: 80px;
        padding-top: 40px;
        @include center(center);
    }

    .footer_copyright {
        width: 100%;
        height: 30px;
        @include center(center);
    }
}
