*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(html, body.main)::-webkit-scrollbar {
  width: 5px;
}

*:not(html, body.main)::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

*:not(html, body.main)::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 50px;
}

*:not(html, body.main)::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
}

.column {
  flex-direction: column;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

:root {
  --color-1: #0093e9;
  --color-2: #fdbb2d;
  --color-3: #ff0000;
  --color-4: #ff9100;
}

svg #vert-gradient-01 {
  --color-stop-1: var(--color-2);
  --color-stop-2: var(--color-3);
}
svg #vert-gradient-02 {
  --color-stop-1: var(--color-3);
  --color-stop-2: var(--color-2);
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  background: var(--color-2);
  background: linear-gradient(0deg, var(--color-2) 0%, var(--color-1) 100%);
}
.header nav.main {
  width: calc(90px * 4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav.main a {
  text-decoration: none;
}
.header nav.main a, .header nav.main a:visited {
  color: #f2f2f2;
  font-size: 1.5rem;
}

.container {
  width: 100%;
  min-height: calc(100vh - 100px - 80px - 30px);
  flex: 100;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../images/fond.svg);
  background-size: cover;
}
.container .container_header {
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.container .container_header .svgHeader {
  fill: url(#vert-gradient-01);
}
.container .container_content {
  background-color: #fff5;
  max-width: 1200px;
  width: 95%;
  border-radius: 20px;
  height: 1000px;
  margin: 3rem 0;
}
.container .container_footer {
  width: 100%;
  height: 125px;
  overflow: hidden;
}
.container .container_footer svg {
  margin-top: -75px;
  fill: url(#vert-gradient-02);
}

.footer {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-2);
  background-image: linear-gradient(180deg, var(--color-2) 0%, var(--color-4) 40%);
}
.footer .footer_content {
  width: 100%;
  height: 80px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer_copyright {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
